:root {
    --primary-color : rgb(0, 0, 0);
    --white : rgb(255, 255, 255);
    --red : rgb(209, 6, 6);
    --red : rgb(209, 6, 6);
}

header {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 50px;
    margin-bottom: 50px;
    justify-content: space-between;

}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 50px;
    color: var(--white);

}

header, footer {
    background-color: var(--primary-color);
}


nav ul{
    display: flex;
    justify-content: center;
    margin-right: 200px;

    justify-content: center;
    margin-right: 200px;

}


li {
    display: inline-flex;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
}

footer span {
    
    display: flex;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 10px;
}

#logo {
    color: var(--red);
    margin-left: 45px;
}


#logo {
    color: var(--red);
    margin-left: 45px;
}


img#logo {
    height: 40px;
    width: 40px;
    margin: 5px 20px;
    border: 1px solid var(--white);
    border-radius: 0 15px 0 15px;
}

#login-btn {
    height: 30px;
    margin: 10px 50px 5px 0;
    background-color: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 20px;
    padding: 0 15px;
}

#login-btn:hover {
    background-color: var(--white);
    color: var(--primary-color);
}

