#search-form-section {
    margin-top: 100px;
    /* margin-left: ; */
    margin-right: auto;
}

#search-form {
    margin: 0 auto;
}

#search-box {
    display: block;
    
    width: 500px;
    height: 35px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 8px;
}

#search-btn {
    margin-top: 15px;
    margin-left: 545px;
    

}

#clear-btn {
    margin-left: 15px;
}

#clear-btn, #search-btn {
    background-color: skyblue;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-size: large;
    
}

#search-btn:hover, #clear-btn:hover {
    background-color: lightblue;
    border: 1px solid black;
}

#center {
    margin-top: 100px;
}

#book-details {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 400px;
    background-color: aqua;
}


#bookList {
    margin-top: 180px;
    margin: 0 auto;
    padding: 15px;
}

#bookList li{
    display: block;
    padding: 7px 10px;
    font-size: 18px;
    
}

